{% extends "_base/base.twig" %}
{% block content %}
    <style>
    #content{min-height: auto;}
    .video{
        background:url("//b.wadicdn.com/cms/phoenix/gaming/Desktop_FarCry5_bg.jpg");
        background-repeat:no-repeat;
        height:1157px;
        cursor:pointer;
    }
    .seo-container{width: 980px;margin: 20px auto;}
    .seo-container strong{font-size:12px;}
    .header {
        background:url('//b.wadicdn.com/cms/phoenix/gaming/Desktop_Headerbanner_en.jpg');
        background-repeat:no-repeat;
        background-position: center top;
        height: 978px;
    }
    .ar .header {
        background:url('//b.wadicdn.com/cms/phoenix/gaming/Desktop_Headerbanner_ar.jpg');
        background-repeat:no-repeat;
        background-position: center top;
        height: 978px;
    }
    .content {
        background:url('//b.wadicdn.com/cms/phoenix/gaming/Desk-Bottom.jpg');
        background-repeat:no-repeat;
        background-position: center top;
        height: 920px;
    }

    .seo-container{padding:10px;}
    .seo-container h1{font-weight:bold;font-size: 13px;line-height: 20px;}
    .seo-container h2{font-size: 11px;font-weight:bold;line-height: 20px;padding: 4px 0;}
    .seo-container h3{font-size: 11px;font-weight:bold;line-height: 20px;padding-top: 8px;}
    .seo-container p{padding: 10px 0 0;}
    .seo-container a{color:#00AFA9;}
    
    </style>
    </div>
</div>
<div class="header"></div>
    <div class="video">
        <div class="site_width_container">
            <div style="width: 980px;margin: auto; margin-top: 20px;">
                <video width="980" height="551" id="video">
                    <source src="//b.wadicdn.com/cms/phoenix/gaming/BatmanThe EnemyWithinEpisodePS4.mp4" type="video/mp4">
                </video>
            </div>
            <img class="lazyload" style="margin-top:10px;" data-src="{{get_static_url('/cms/phoenix/gaming/Desktop_strip_' + lang() + '.png')}}" alt="text" />
            
            <img class="lazyload" style="margin-top:20px;" data-src="{{get_static_url('/cms/phoenix/gaming/Desktop_bottomBanner_' + lang() + '.png')}}" alt="text" />
        </div>    
    </div>

<div class="content"></div>

    {% if lang('en') %}
        <div class="seo-container">
            <div class="site_width_container">
                <h1><strong>Buy Batman: The Enemy Within-Episode 2 Online in {% if shop()==='sa' %} Jeddah, Riyadh, Mecca, Madinah, Dammam, Saudi Arabia (KSA){% elseif shop()==='ae' %}Abu Dhabi, Dubai and Rest of United Arab Emirates (UAE) at Wadi{% endif %}</strong></h1>

                <h3>New Batman Game</h3>
                <p>The Dark Knight is back with the latest instalment from Telltale Games- Batman: The Enemy Within Episode 2. This is the next instalment in the Batman series, the previous game released in 2016, Batman: The Telltale Series, which has attained great levels of popularity because of its gripping narrative and crisp graphics that let us all delve into the deep and fractured world of both Bruce Wayne and Batman. In Batman: The Enemy Within, you get to immerse yourself in an even grittier, violent and torn world of Bruce Wayne and a corrupt Gotham City. To get access to all the latest episode of the 2nd Season, <strong>buy Batman: The Enemy Within Episode 2 game online {% if shop()==='sa' %} KSA {% else %} UAE {% endif %} </strong> from Wadi, and watch out this space for latest updates. Till then, you can buy our other <a href="/gaming-gaming_titles/" title="Gaming Titles"> Gaming Titles</a> and Gaming Bundles here. </p>
                <h3>Batman: The Enemy Within Release Date for Episode 2</h3>
                <p>Slated to release on 31st December 2017, <strong>new Batman game</strong> promises to answer all your questions that left us hanging on tenterhooks in Episode 1 that released in August 2017. With a narrative that branches to different aspects of Bruce and his alter-ego, the messiah of Gotham City - Batman, it gives the player numerous choices to battle with and far-reaching consequences that will change all that Bruce holds dear. The progression of the story, relationship with each character and will leave him questioning his morality and character. For all this and more, players all over the world and in {% if shop()==='sa' %} Saudi {% else %} UAE {% endif %}  are eagerly waiting to <strong>buy Batman: The Enemy Within Episode 2</strong>. </p>
                <h3>Batman: The Enemy Within</h3>
                <p>As you can remember in the 1st episode of Batman: The Enemy titled “The Enigma”, the Dark Knight fought against the Riddler, reintroduced after his mysterious disappearance for a lot many years from Gotham City. Apart from the scythe-carrying Riddler who attains pleasure by trapping people in “Torture boxes”, a lot many characters came to become a part of the <strong>new Batman game</strong>. John Doe, Jim Gordon, Amanda Waller, Alfred Pennyworth, and Lucius Fox come together to create a tension-filled atmosphere that gave way to the dramatic 2nd episode of this instalment. <strong>Buy Batman: The Enemy Within Episode 2 game online {% if shop()==='sa' %} KSA {% else %} UAE {% endif %}</strong> from Wadi to know how the drama unfolds in the second episode. </p>
                <h3>Sneak peek for Batman: The Enemy Within Release Date Episode 2</h3>
                <p>In the latest episode of Batman: The Enemy Within, titled The Pact, it kickstarts from right where we left off with Amanda Waller revealing that she knows who Batman really is. This episode focuses more on who Bruce Wayne is if he is not Batman, bringing the rogues back to Batman’s life including Bane, Harley Quinn and Victor Fries, who have together formed a Pact, and where Bruce battles with them along with his own emotions sans being Batman. The player gets to make a lot many decisions along the gameplay that would decide that whether Bruce will finally break bad, or will he remain the Silent Guardian that Gotham City deserves but does not need. The choices in the gameplay will not only affect the morality and character of Batman on how far into the dark he can go, but also how the story will progress from there, and the relationships of each of the characters in the gameplay. The player is the real protagonist here. So, be careful about your choices! Just <strong>buy Online in {% if shop()==='sa' %} Jeddah, Riyadh, Mecca, Madinah, Dammam, Saudi Arabia {% else %} Abu Dhabi, Dubai and rest of United Arab Emirates (UAE) {% endif %} </strong> at Wadi and get going soon. </p>
                <h3>Batman: The Enemy Within Game Review</h3>
                <p>After the accolades Batman: The Telltale Series received from all quarters, there were high hopes for the <strong>new Batman game</strong>, and boy, it did not disappoint! Right from a tight and gripping storyline, to a taut narrative and emotion-ridden immersive graphics, Batman: The Enemy Within is a revelation. With Bruce falling apart after the loss of an important character in the 1st episode, Telltale Games really pulled a great thread at the narrative part on this one. <strong>Buy Batman: The Enemy Within Episode 2</strong>, to find out what new demons both Bruce and Batman have to fight that might finally push him down the dark road of evil. The episode leaves you on a “will he-won’t he” cliffhanger that would leave you begging for more. With the arrival of Amanda Waller from The Agency with Batman’s deepest darkest secrets, and the rogues forming a Pact, Bruce will have a lot many choices to make in the episode that has left with gaming reviewers gasping for breath. <strong>Batman: The Enemy Within Game Review</strong> has raved about the duality in Batman’s life which has been aptly reflected in the equal amount of excitement and drama for seasoned players and novices alike. Hold on to your breaths, <strong>Batman: The Enemy Within Release Date</strong> Episode 2 is coming really soon to Wadi and you can <strong>buy Batman: The Enemy Within game online {% if shop()==='sa' %} KSA {% else %} UAE {% endif %}</strong> from here to get the thrill started. </p>
            </div>                                
        </div>
    {% else %}
        <div class="seo-container">
          <div class="site_width_container">
            <h1><strong>شراء بات مان: ذا انمي يوزن – ابو سايد 2 اونلاين في {% if shop()==='sa' %} جدة، الرياض، مكة، المدينة، الدمام، السعودية{% elseif shop()==='ae' %}أبوظبي، دبي، وبقية الإمارات العربية المتحدة من وادي{% endif %}</strong></h1>
            
            <h3>لعبة بات مان الجديدة</h3>

            <p>مقاتل الظلام قد عاد مجدداً على يد شركة تيلتال للألعاب في لعبة باتمان ذا انمي يوزن ابو سايد 2. إنها اللعبة المنتظرة من سلسلة ألعاب باتمان، حيث تم إطلاق اخر إصدار من ألعاب باتمان في 2016 ضمن مجموعة ألعاب تيلتال، والتي لاقت شعبية جارفة على مختلف المستويات بين الصغير والكبير، والسبب في ذلك طريقة سردها للقصة، والتصميمات الرائعة التي أخذتنا في جولة نحو العالم السري لبروس واين وباتمان. مع لعبة باتمان ذا انمي يوزن ستجد نفسك موجوداً في عالم غريب يمتليء بالعنف، والجريمة في مدينة جوثام التي انتشر فيها الفساد بينما يحاول بروس واين انقاذ الموقف. للوصول لكافة حلقات الموسم الثاني، يمكنك <strong>شراء لعبة باتمان ذا انمي يوزن ابو سايد 2 اونلاين في {% if shop()==='sa' %}السعودية {% else %} والإمارات{% endif %}</strong> من وادي، واكتشف اخر التحديثات التي اُجريت على اللعبة. لحين صدور اللعبة، يمكنك التسوق والشراء بين قائمة <a href="/gaming-gaming_titles/" title=" الألعاب ">الألعاب</a> الموجودة لدينا ومشاهدة العروض المتوفرة على حزم الألعاب. </p>

            <h3>موعد إطلاق لعبة باتمان ذا انمي يوزن ابو سايد 2</h3>

            <p>تحدد موعد إطلاق <strong>لعبة بات مان الجديدة</strong> في 31 ديسمبر عام 2017، ليجيب عن كافة التساؤلات المعلقة منذ الحلقة الأولى التي تم إطلاقها في اغسطس 2017. تتناول قصة اللعبة الأمر من عدة زوايا مختلفة بدءاً من تخلي بروس واين عن كبرياؤه، وجود المسيح في مدينة جوثام، نشأة باتمان، كل ذلك يعطي اللاعب الكثير من الاختيارات التي تساعده في تحقيق نتائج أفضل قادرة على تغيير مصير بروس واين. مع تطور قصة اللعبة، ستنشأ لديك علاقة خاصة تجاه كل شخصية من شخصيات اللعبة والتي ستدعك تتسائل عن مدى الالتزام الأخلاقي للشخصية التي تشاهدها. لكل هذه الأسباب، اللاعبون حول العالم وفي {% if shop()==='sa' %}السعودية {% else %} والإمارات{% endif %} ينتظرون بفارغ الصبر <strong>شراء لعبة باتمان ذا انمي يوزن ابو سايد 2</strong>. </p>

            <h3>بات مان: ذا انمي يوزن</h3>

            <p>في الحلقة الأولى والتي كانت بعنوان "ذا انيجما" كان هناك معركة دائرة بين مُقاتل الظلام باتمان والشرير "ذا رايدر"، والذي عاد بعد اختفائه لسنواتٍ طويلة عن مدينة جوثام. والذي يميل كثيراً إلى حبس الأشخاص داخل أقفاص، العديد من الشخصيات سوف تظهر ضمن <strong>لعبة بات مان الجديدة</strong>. من بين الأشخاص الجدد جون دو، جيم جوردون، اماندا ويلر، ألفريد بيني ورث، لويس فوكس واللذين جاءا لخلق جو من التوتر داخل الأجواء مما يصنع بعضاً من الدراما داخل القصة. يمكنك <strong>شراء لعبة باتمان ذا انمي يوزن ابو سايد 2 اونلاين في {% if shop()==='sa' %}السعودية {% else %} والإمارات{% endif %}</strong> من وادي، واكتشف الدراما في شكلها الجديد مع الحلقة الثانية. </p>

            <h3>نظرة عن قرب على موعد إطلاق لعبة باتمان ذا انمي يوزن ابو سايد 2 </h3>

            <p>في الحلقة السابقة من باتمان: ذا انمي يوزن كانت بعنوان "ذا باكت" والتي تبدأ من حيث تركنا اماندا وولر والتي صرحت بأنها تعرف ماهية باتمان الحقيقية. تركز هذه الحلقة على معرفة بروس واين إذا ما كان هو باتمان بالفعل أم لا، كما تشهد عودة بعض الأشرار إلى حياة باتمان على رأسهم "باني"، هارلي كوين، فكتور فرايز، والذين شكلوا فريقاً معاً، ويضطر باتمان إلى محاربتهم جميعاً بكل ما يعتمل في نفسه من مشاعر نحوهم. أكثر من ذلك، يضطر اللاعبون إلى اتخاذ عدة قرارات أثناء اللعب والتي ستكشف هل يستطيع بروس أن يهزم الأشرار، أم سيظل الحارس الصامت لمدينة جوثام. الاختيارات التي سيصنعها اللاعبون أثناء اللعب لن تؤثر على شخصية بات مان في اللعبة فحسب، ولكن ستؤثر على مضمون القصة وطريقة سريانها، وشخصية كل لاعب في هذه العبة. يُهدف صُناع اللعبة من ذلك أن يتحول اللاعب إلى بطل الحكاية. لذلك، كن حريصاً عند اختيارك <strong>لشراء لعبة باتمان ذا انمي يوزن ابو سايد 2 اونلاين في 
            {% if shop()==='sa' %} جدة، الرياض، مكة، المدينة، الدمام، السعودية {% else %} أبوظبي، دبي، وبقية الإمارات العربية المتحدة {% endif %}</strong> من وادي قريباً. </p>

            <h3>بات مان: مُراجعة لعبة ذا انمي يوزن </h3>

            <p>حصدت لعبة باتمان العديد من الجوائز، واستقبلت مجموعة تيلتال التهاني من الجميع، لذلك هناك توقعات ضخمة تجاه <strong>لعبة باتمان الجديدة</strong>. اطمئن، لن يخيب ظنك فيها! ربما يُعزى السبب في ذلك إلى قوة القصة وقدرتها على جذب عشاق اللعبة ومُحبي باتمان، بالإضافة للمؤثرات العالية التي ظهرت في <strong>لعبة باتمان ذا انمي يوزن ابو سايد 2</strong>. تتطور الأحداث خاصة بعد سقوط بروس واين واخفاقه في الجزء الأول بعد خسارته لواحد من أهم الشخصيات في الحلقة الأولى، أنهت شركة تيلتال الحلقة على جزء صعب نتوقع فيه وجود خطر كبير. تأتي لعبة باتمان ذا انمي يوزن ابو سايد 2 لتكشف عما سيفعله بروس واين وباتمان في قتالهم ضد قوى الشر. انتهت الحلقة بسؤال واحد يدور في سقف الغرفة؛ هل سينتصر أم لا؟. جاءت <strong>مُراجعات لعبة باتمان ذا انمي يوزن ابو سايد 2</strong> تتحدث عن حياة باتمان والجو المليء بالإثارة والدراما وحبكة القصة الرائعة التي أتت بها اللعبة. لن يدوم انتظارك طويلاً، فموعد <strong>إطلاق لعبة باتمان ذا انمي يوزن ابو سايد 2</strong> بات قريباً، وسوف تكون متوفرة لدى وادي، وسيمكنك <strong>شراء لعبة باتمان ذا انمي يوزن ابو سايد 2 اونلاين في {% if shop()==='sa' %}السعودية {% else %} والإمارات{% endif %}</strong> من هنا. </p>

          </div>  
        </div>




    {% endif %}

    <script type="text/javascript">
      var vid=document.getElementById('video');
        vid.addEventListener("ended", resetVideo, false);

        function resetVideo() {
            // resets the video element by resetting the source
            this.src = this.src
          location.reload();
        }

        var video = document.getElementById('video');
        video.addEventListener('click',function(){
            video.play();
        },false);

        var video = document.getElementById("video");

        function toggleControls() {
          if (video.hasAttribute("controls")) {
             video.removeAttribute("controls");
          } else {
             video.setAttribute("controls","controls");
          }
        }
    </script>
{% endblock %}